* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bgColor: #0F1035;
    --buttonColor1: #365486;
    --buttonColor2: #7FC7D9;
    --displayColor: #DCF2F1;
    --textColor1: white;
    --textColor2: black;
}

body {
    background-color: var(--bgColor);
}

.calculator {
    margin: auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 360px;
    padding-right: 10px;
}

#lightDark {
    width: 50px;
    margin: 0;
    border-radius: 50%;
}
.nav a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid var(--displayColor);
}
.logo {
    width: 75%;
    object-fit: cover;
}

table {
    min-width: 360px;
    border: 5px solid var(--displayColor);
    padding: 15px;
    margin: 20px auto;
    border-radius: 20px;
    /* display: flex; */
    /* box-shadow: 10px 10px 10px 10px var(--textColor2); */
}

p {
    width: 100%;
    background-color: var(--displayColor);
    padding: 10px;
    margin: 5px 0;
    text-align: right;
    font-size: 2rem;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 1.5rem;
    background-color: var(--buttonColor1);
    border: 3px solid var(--buttonColor1);
    border-radius: 5px;
    color: var(--textColor1);
    transition: border 0.1s ease-out;
}

button:active {
    border: 3px solid var(--bgColor);
}

/* button:hover {
    background-color: var(--buttonDarkColor1);
} */

.color2 {
    background-color: var(--buttonColor2);
    color: var(--textColor2);
    border: 3px solid var(--buttonColor2);
}

/* .color2:hover {
    background-color: var(--buttonDarkColor2);
} */

footer {
    width: 100%;
    padding-right: 30px;
    padding-top: 100px;
    color: var(--textColor1);
    text-align: right;
    font-style: italic;
}
